/* style.css */

body {
 font-family: Georgia, 'Times New Roman', Times, serif;
 background-repeat: repeat;
 background-size:contain;
}

h1 {
background-color: black;
text-align: center;
width: 800px;
height: auto;
border-radius: 50%;
color: white;
display:block;
margin: auto;
}

.img {
 width: 800px;
 height: auto;
 border-radius: 50%;
 display:block;
 margin: auto;
}

h3 p {
 background-color: white;
 width: 800px;
 height: auto;
 border-radius: 50%;
 display: block;
 margin: auto;
 text-align: center;
 padding-auto: 25px;
 padding-top: 20px;
 padding-bottom: 20px;
}

h3 {
 background-color: white;
 width: 800px;
 height: auto;
 border-radius: 50%;
 display: block;
 margin: auto;
 padding-auto: 25px;
 padding-top: 20px;
 padding-bottom: 20px;
}

h3 ul {
 padding-auto: 250px;
 padding-top: 30px;
 padding-bottom: 30px;
}

.class {
 background-color: white;
 width: 1000px;
 height: 500px;
 border-radius: 50%;
 display: block;
 margin: auto;
}

ol {
 width: 600px;
display: block;
margin: auto;
padding-top: 100px;
}

footer  {
 background-color: white;
 width: 350px;
 height: 150px;
 border-radius: 50%;
 display: block;
 margin: auto;
}

ul{
 padding-auto: 115px;
 padding-top: 30px;
 padding-bottom: 30px;
}

