/* style.css */

body {
 font-family: Georgia, 'Times New Roman', Times, serif;
 background-repeat: no-repeat;
}

h1 {
background-color: black;
text-align: center;
width: 300px;
height: auto;
border-radius: 50%;
color: white;
}

.img {
 width: 500px;
 height: auto;
 border-radius: 50%;
 align-self: inherit;
}

h3 {
 background-color: white;
 width: 500px;
 height: auto;
 border-radius: 50%;
 text-align: center;


}